/* CSS file */
body{
    background-color: dimgrey;
    background-image: url("/images/nightbackground.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Verdana';
    color: white;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header {
    display: flex;
    color: white;
    background-color: black;
    overflow: auto;
    outline: 10px solid black;
    width: auto;
    border-radius: 10px;
    opacity: 0.9;
}
#headerText{
    font-size: xx-large;
    width: 30%;
}
#headerChooseMotive{
    font-size: xx-large;
    width: 53%;
    margin: auto;
}
#motiveStyle{
    text-align: center;
    float: right;
    width: fit-content;
}
#motiveSelect{
    border-style: outset;
    border-radius: 10px;
    border-color: black;
    height: 30px;
    width: fit-content;
    text-shadow: none;
}
#headerForm{
    text-align: right;
    width: 17%;
}
.form-submit-button{
    background: darkgoldenrod;
    color: white;
    border-style: outset;
    border-radius: 10px;
    border: transparent;
    height: 30px;
    width: fit-content;
    text-shadow: none;
}
.form-submit-button:hover{
    background: #6F5100;
    color: white;
    border-style: outset;
    border-radius: 10px;
    border: transparent;
    height: 30px;
    width: fit-content;
    text-shadow: none;
}
#sidebar-left {
    background-color: slategrey;
    color: white;
    float: left;
    width: 14.75%;
    height: 850px;
    border-radius: 10px;
    opacity: 0.85;
}
#sidebar-right{
    background-color: slategray;
    color: white;
    margin-top: auto;
    float: right;
    width: 14.75%;
    height: 850px;
    border-radius: 10px;
    opacity: 0.85;
}
#center-body{
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 70%;
    height: 850px;
    border-radius: 10px;
    opacity: 0.9;
}
#login-body{
    color: white;
    width: 700px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 15px;
    margin-top: 50px;
    opacity: 0.85;
}
.form-inputs{
    width: 500px;
    height: 50px;
    font-size: x-large
}
.wrong{
    color: red;
}
#center-body-upper{
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 70%;
    height: 250px;
    border-radius: 10px;
    opacity: 0.9;
}
#profilePic{
    background-image: url("/images/neutralProfilePic.jpg");
    background-color: #6F5100;
    background-size: contain;
    margin-left: 20px;
    width: 200px;
    height: 200px;
    float: left;
    border: 3px solid darkgoldenrod;
    border-radius: 20px;
}
#profileCredentials{
    float: left;
    margin-left: 10px;
    text-shadow: 2px 2px #6F5100;
    font-size: x-large;
    text-align: center;
    border: 3px hidden #6F5100;
    width: 20%;
    height: 200px;
    border-radius: 20px;
}
#peopleList{
    margin-top: 2%;
    margin-left: 1%;
    float: left;
}
#user-info{
    border: 3px hidden #6F5100;
    margin-left: 5px;
    float: left;
    height: 200px;
    width: 25%;
    border-radius: 20px;
    font-size: small;
    text-align: left;
    text-shadow: 2px 2px #6F5100;
}
#profileDescription {
    border: 3px hidden #6F5100;
    text-shadow: 2px 2px #6F5100;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: auto;
    float: right;
    width: 28.5%;
    height: 200px;
    overflow: auto;
}
#center-body-bottom{
    background-color: black;
    margin-top: 1.5px;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px hidden darkgoldenrod;
    height: 600px;
    width: 70%;
    overflow: hidden auto;
}
.invisible-button{
    background-color: transparent;
    outline: transparent;
    border: transparent
}
#sidebar-table{
    border: 3px hidden darkgoldenrod;
    border-radius: 10px;
    font-size: medium;
    text-align: left;
    width: 100%;
    height: fit-content;
}
.textLink{
    color: white;
    text-decoration: none;
}
#searchForFriends{
    width: 90%;
    float: left;
    font-size: x-large;
    border: transparent;
    background-color: lightgrey;
    border-radius: 20px;
    height: 50px;
    margin-right: auto;
    margin-left: 20px;
}
#search{
    background: darkgoldenrod;
    width: 6%;
    border: transparent;
    border-radius: 20px;
    float: left;
    height: 52px;
    background-size: cover;
    font-size: small;
    font-family: Verdana;
    text-align: center;
    color: white;
    margin-left: 0.5%;
}
#search:hover{
    background: #6F5100;
    background-size: contain;
    width: 6%;
    border: transparent;
    border-radius: 20px;
    float: left;
    height: 52px;
    font-size: small;
    font-family: Verdana;
    text-align: center;
    color: white;
    margin-left: 0.5%;
}
#notification-line{
    margin-left: 1%;
    color: white;
    text-shadow: 2px 2px dimgrey;
}
#postsSpace{
    float: left;
    border-radius: 20px;
    border: 2px hidden #6F5100;
    width: 65%;
    height: 85%;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 1%;
    overflow: hidden auto;
}
#postArea{
    margin-right: 20%;
    margin-left: 20%;
    border: 2px solid #6F5100;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
}
#postContent{
    margin-left: 2%;
    margin-right: 2%;
}
#postComment{
    margin-right: 20%;
    margin-left: 20%;
    border: 2px solid #6F5100;
    border-radius: 20px;
    width: 60%;
    height: fit-content;
}
#groupSpace{
    float: left;
    width: 25%;
    height: 83%;
    border: 2px hidden darkgoldenrod;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
}
#controlPanel{
    background-color: black;
    margin: 0 auto;
    width: 85%;
    height: 850px;
    border-radius: 10px;
    opacity: 0.85;
    color: white;
}
#usersManagment {
    margin-left: 2%;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
    float: left;
    width: max-content;
    height: fit-content;
}
#chooseUser{
    width: fit-content;
    height: 25px;
    border-radius: 10px;
    font-size: large;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 1px solid darkgoldenrod;
}
#message-line{
    margin-left: 4%;
    text-shadow: none;
    font-style: italic;
    color: lightgrey
}
#message-space{
    float: left;
    width: 20%;
    height: 22%;
    overflow: auto;
    overflow-wrap: break-word;
    margin-left: 2%;
    border: 1px solid darkgoldenrod;
    margin-bottom: 1%;
    margin-top: 1%;
}
#oldMessages{
    float: right;
    margin-right: 1%;
}
#chooseGroup{
    border-radius: 20px;
    width: 20%;
    font-size: large;
}
#eventSpace{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 40%;
    height: 30%;
    border-color: darkgoldenrod;
}
#eventParticipants{
    float: left;
    width: 40%;
    height: fit-content;
    margin-left: 1%;
}
#eventParticipantsSpace{
    border-color: darkgoldenrod;
    border-radius: 20px;
}
#eventDescription{
    width: 40%;
    height: fit-content;
}
#reportsManagement{
    float: right;
    margin-left: 5%;
    margin-right: 1%;
    width: 40%;
    height: fit-content;
    border: 2px solid darkgoldenrod;
    border-radius: 20px;
}
#user-reported{
    border: 1px solid darkgoldenrod;
    border-radius: 20px;
}
#reportDescription{
    width: 500px;
    height: 200px;
    resize: none;
}
#eventDescriptionInDetails{
    float: left;
    margin-left: 5%;
    width: 40%;
    height: fit-content;
}